<div class="page-header no-border" ng-controller="AnalysisViewCtrl">
	<div style="margin: 0 auto; text-align: center">	
		<div class="input-group margin-bottom-sm" style="width:300px; margin: 0 auto;  color:white; opacity: 1">
	  		 
	  		 <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
	  		 <input id="datepickerStart" class="form-control" type="text" placeholder="Enter A Start Date" style="width:150px;opacity: 0.5; padding-left: 10px; margin-right: 10px;">
	  		 
	  		 <span class="input-group-addon"><i class="fa fa-calendar fa-fw" style=""></i></span>
	  		 <input id="datepickerEnd" class="form-control" type="text" placeholder="Enter An End Date" style="width:150px;opacity: 0.5; padding-left: 10px;">
	  		 
	  		 <span class="input-group-btn" style="padding-left: 10px;">
			 	 <button class="btn btn-secondary red" type="button" ng-click="changeDates()">Change Dates</button>
			 </span>
		</div>
	</div>
	<br>
	<p class="text-center" ng-hide="dataLoaded">
    	<i class="fa fa-spinner fa-pulse fa-3x" style="margin-top: 50px; margin-bottom: 30px; color: white;"></i>
	</p>
	<div id="statisticDiv" ng-hide="chartDataLoaded" class="transparent" style="text-align: center">
		<highchart id="chart1" config="highchartsNG" style="width: 95%; margin-left: 2%"></highchart>
		<div style="margin: auto 0; padding-bottom: 1%; width:95%; margin-left: 2%; margin-right: 2%; text-align: center; background-color: rgba(34, 34, 34, 1)" class="">	
			<a class="btn btn-default btn-sm transparent" ng-click="buildChartLine()">
  				<i class="fa fa-line-chart" aria-hidden="true"></i> Avg. Sentiment</a>
  			<a class="btn btn-default btn-sm transparent" ng-click="buildChartBar()">
  				<i class="fa fa-bar-chart" aria-hidden="true"></i> +/- Stacked</a>
  			<a class="btn btn-default btn-sm transparent" ng-click="buildChartScatter()">
  				<i class="fa fa-twitter-square" aria-hidden="true"></i> Recent Tweets</a>
		</div>
		<br>
	</div>
		<!--<div style="padding: 0% 1% 0% 1%">
		  <table ng-table="tableParams" class="table table-bordered ng-table-responsive">
		      <tr ng-repeat="post in $data">
		          <td align="center" data-title="'user'" sortable="'user'">
		              <a ng-href="https://twitter.com/{{post.user}}" target="_blank">{{post.user}}</a>
		          </td>
		          <td align="center" data-title="'Text'" sortable="'text'">
		              {{post.text}}
		          </td>
		          <td align="center" data-title="'Sentiment'" sortable="'sentiment'">
		              {{post.sentiment.toFixed(2)}}
		          </td>
		      </tr>
		  </table>
		</div>-->
	<div ng-hide="tweetDataLoaded">
		<div style="text-align: center; margin: 0 auto; width: 100%;">
			<br>
			<h3>Latest Tweets For {{chartTitle}}</h3>
			<br>
			<div style="text-align: center; display: inline-block; vertical-align:top;">
				<div data-ng-repeat="tweetID in tweetIDs1 track by $index">
					<twitter-widget twitter-widget-id="tweetID" twitter-widget-options="{}">
					</twitter-widget>
				</div>
			</div>
			<div style="text-align: center; display: inline-block; margin-left: 10px">
				<div data-ng-repeat="tweetID in tweetIDs2 track by $index">
					<twitter-widget twitter-widget-id="tweetID" twitter-widget-options="{}">
					</twitter-widget>
				</div>
			</div>
		</div>
	</div>
</div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script
